doctype
   
html

   include ./includes/head.jade
      
   body.username-state
      
      include ./includes/main.jade
         
      script 
         include ../js/google-analytics.js
      
      script(src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.3/mustache.min.js')
      script(src='/assets/js/app.js')
