<!DOCTYPE html>
<html>
  <head>
    <title>Github Ajax Profile Card</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Just a tiny little app that makes use of Ajax to fetch users info and display them in a card.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.css">
  </head>
  <body class="username-state">
    <main class="main">
      <section class="username">
        <h1 class="username__header">Please enter a GitHub username</h1>
        <form class="username__form">
          <div class="username__section">
            <label for="username" class="username__label">Username</label>
            <input type="text" name="username" class="username__input">
          </div>
        </form>
        <button type="button" disabled class="username__submit"> <span>Get Info</span></button>
      </section>
      <template id="userInfo">
        <button type="button" class="backBtn"><i class="octicon octicon-x"></i></button>
        <div class="user-profile__main">
          <figure class="user-profile__avatar"><img src="{{avatar_url}}" alt="{{name}}"></figure>
          <h2 class="user-profile__name">{{name}}</h2>
          <h3 class="user-profile__location">{{location}}</h3>
        </div>
        <ul class="user-profile__infos">
          <li> <span class="mega-octicon octicon-repo"></span><span class="info">{{public_gists}} Repos</span></li>
          <li> <span class="mega-octicon octicon-gist"></span><span class="info">{{public_repos}} Gists</span></li>
          <li> <span class="mega-octicon octicon-person"></span><span class="info">{{following}} Following</span></li>
          <li> <span class="mega-octicon octicon-organization"></span><span class="info">{{followers}} Followers</span></li>
        </ul>
        <button type="button" class="user-profile__show-bio"><span>View Bio</span></button>
        <blockquote class="user-profile__bio">
          <p>{{bio}}</p>
        </blockquote>
      </template>
      <section class="user-profile"></section>
      <p class="shout-out">Made with love, in Brighton by <a href="http://www.github.com/MilkshakePanda">MilkshakePanda</a></p>
    </main>
    <script> var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-XXXXX-X']);
_gaq.push(['_trackPageview']);

(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.3/mustache.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>