// General resets

*
   margin: 0
   padding: 0
   -webkit-font-smoothing: antialiased
   font-family: $font

ul
   list-style: none

a
   text-decoration: none
   color: inherit
   display: inline-block

img
   max-width: 100%
   width: 100%
   height: auto
   display: inline-block

input
   border: none
   outline: 0

button
   background: none
   border: none
   outline: 0
   cursor: pointer
