.main

   height: 100vh
   display: flex
   align-items: center
   justify-content: center
   flex-direction: column
   background-color: $primary
   color: $secondary

.username
   display: none

   body.username-state &
      display: block
      +animation('fadeInUp 1s linear both')

   body.user-profile-state &
      +animation('fadeOut 1s linear both')
      display: none

.username__header
   font-size: 2.6em
   margin-bottom: 1em

   +mobile
      font-size: 1.3em


.username__section
   max-width: 80%
   margin-left: auto
   margin-right: auto
   position: relative
   cursor: text
   overflow: hidden

.username__input

   padding: 20px
   width: 72%
   border: none
   color: $tertiary
   font-size: 1.3em
   position: relative
   z-index: 10
   transform: translateX(-100%)
   transition: transform .31s ease-in, background-color .2s ease-in

   +mobile
      width: 100%

   &:focus

      background-color: $secondary
      color: $primary

   &.filled

      transform: translateX(0)


.username__label
   position: absolute
   top: 0
   left: 0
   +size(100%)
   background-color: $tertiary
   padding: 20px
   font-size: 1.3em
   cursor: text
   transform: translateX(O)
   transition: all .31s ease-in

   &.clicked

      transform: translateX(72%)
      cursor: pointer

.username__submit
   display: block
   margin: 30px auto
   background: transparent
   border: none
   cursor: pointer
   overflow: hidden
   position: relative
   outline: 0
   transition: opacity .23s ease-in

   &:disabled
      opacity: .3

   &.showing span
      transform: translateY(0)

   span
      color: $tertiary
      background-color: $quarternary
      display: block
      padding: em(15) em(40)
      font-size: 1.5em
      text-transform: uppercase
      transform: translateY(-102%)
      transition: all .31s ease-in

// Shout out message

.shout-out
   position: absolute
   bottom: 20px
   left: 50%
   transform: translateX(-50%)

   body.user-profile-state &

      display: none

   +mobile
      display: inline-table
      font-size: .8em
