.user-profile

   max-width: 480px
   width: 100%
   background-color: $secondary
   color: $primary
   display: flex
   flex-direction: column
   border-radius: 5px
   align-items: stretch
   position: relative
   z-index: 1
   margin-top: -100px
   display: none
   +animation('fadeInUp 1s linear both')

   +mobile
      width: 90%

   +tablet
      max-width: 600px


   body.user-profile-state &
      display: flex

   body.username-state &
      +animation('fadeOut 1s ease-out both')

.user-profile__main

   display: flex
   background-color: $secondary
   flex-direction: column
   align-items: center
   justify-content: space-around
   padding: 2em 0
   height: auto
   flex-grow: 1

   +mobile
      padding: .9em 0

.user-profile__avatar

   width: 150px

   +mobile
      width: 80px

   img
      border: 2px solid $primary
      border-radius: 50%

.user-profile__name
   font-size: 2.1em
   font-weight: 600
   margin: 15px 0 5px

   +mobile
      font-size: 1.2em
      margin-top: 5px


.user-profile__location

   font-size: 1.4em
   font-weight: 400

   +mobile
      font-size: .8em

.user-profile__infos
   display: flex
   align-items: center
   text-align: center
   border-top: 2px solid #EDD16E
   border-bottom: 2px solid #EDD16E
   background-color: $secondary

   +mobile
      flex-wrap: wrap

   li

      flex: 1
      padding: 1.5em 0
      border-right: 2px solid #EDD16E

      +mobile
         flex-basis: 50%
         padding: .7em
         border-bottom: 2px solid #EDD16E

         &:nth-child(3),
         &:nth-child(4)
            border-bottom: 0

         &:nth-child(even)
            border-right: none


      .mega-octicon

         color: $primary

      .info
         display: block
         margin-top: 10px
         color: $tertiary
         font-weight: 600
         font-size: 1.12em

         +mobile
            font-size: .9em

      &:last-child

         border-right: none

.user-profile__show-bio

   border: none
   border-left: 1px solid transparent
   border-right: 1px solid transparent
   border-bottom: 1px solid transparent
   background: $quarternary
   padding: 1em 0
   font-size: 1.3em
   font-weight: 600
   cursor: pointer
   outline: 0
   color: $primary

   +mobile
      padding: .7em
      font-size: 1em

   span
      transition: all .23s ease-in
      pointer-events: none

   &:hover span

      color: $tertiary
      +animation('elastico .76s ease-in-out both')

.user-profile__bio
   z-index: -1
   padding: 1em 1.1em
   text-align: center
   line-height: 1.46
   transform: translateY(-100%)
   position: absolute
   bottom: -1
   width: 100%
   background-color: $secondary
   border-bottom-left-radius: 6px
   border-bottom-right-radius: 6px
   transition: all .33s ease-out

   &.showing
      transform: translateY(0)
   p
      font-size: 1em

// Back Button
.backBtn
   position: absolute
   right: 10px
   top: 15px
   border-radius: 50%
   +size(40px)
   color: $primary
   transition: all .3s ease-in

   &:hover
      box-shadow: inset 0 0 0 3px $tertiary
      color: $tertiary
      transform: rotate(-360deg)

   i
      +animation('pulseScale 1s infinite ease-out both')
      font-size: 1.8em
      transition: all .3s ease-out
