head

   title Github Ajax Profile Card
   meta(charset='utf-8')
   meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='description', content='Just a tiny little app that makes use of Ajax to fetch users info and display them in a card.')
   meta(name="viewport", content="width=device-width, initial-scale=1")
   link(rel='stylesheet', href='/assets/css/main.css')
   link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.css")
