main.main
	
	
	section.username
	
		h1.username__header Please enter a GitHub username
		
	
		form.username__form
	
			.username__section
	
				label(for="username",class="username__label") Username
				input(type="text",name="username", class="username__input")
	
		button(type='button', class="username__submit", disabled) 
			span Get Info
			
	
	template#userInfo
	
		button(type='button').backBtn
			i.octicon.octicon-x
			
		.user-profile__main
		
			figure.user-profile__avatar
				img(src="{{avatar_url}}", alt="{{name}}")
				
			h2.user-profile__name {{name}}
			
			h3.user-profile__location {{location}}
			
		ul.user-profile__infos
			li 
				span.mega-octicon.octicon-repo
				span.info {{public_gists}} Repos
			li 
				span.mega-octicon.octicon-gist
				span.info {{public_repos}} Gists
			li 
				span.mega-octicon.octicon-person
				span.info {{following}} Following
			li 
				span.mega-octicon.octicon-organization
				span.info {{followers}} Followers
			
		button(type='button').user-profile__show-bio
			span View Bio
			
		blockquote.user-profile__bio
			p {{bio}}

	section.user-profile
	
		
	
	p.shout-out Made with love, in Brighton by 
		a(href="http://www.github.com/MilkshakePanda") MilkshakePanda
